.nav {
  background-color: var(--main-background-colour);
  width: 100%;
  height: 100px;
}

.tab__container {
  display: flex;
}

.header__accent-bar {
  width: 100%;
  height: 10px;
  background-color: white;
  position: relative;
  top: -2px;
}

.header__user {
  width: 300px;
  height: 80px;
  position: relative;
  left: 800px;
  top: -20px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.header__user-avatar {
  height: 60px;
  border-radius: 50%;
  margin: 10px;
}

.header__user-name {
  font-family: var(--main-font);
  color: var(--main-text-colour);
  margin-top: 8px;
  margin-right: 10px;
  font-weight: 500;
}

.header__info-container {
  display: flex;
  margin-top: 30px;
}

.header__button {
  font-family: var(--main-font);
  font-size: 14px;
  width: 90px;
  font-weight: 600;
  height: 35px;
  background-color: var(--green-accent);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.1s linear background-color;
}

.header__button:hover {
  background-color: var(--green-accent-dark);
}

.tab__add-icon {
  color: grey;
  font-size: 25px;
  margin-top: 75px;
  margin-left: -35px;
  z-index: 5;
  cursor: pointer;
  transition: color 0.1s linear;
  position: absolute;
}

.tab__add-icon:hover {
  color: rgb(58, 58, 58);
}
