@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-background-colour: #e3e3e3;
  --main-font: "Roboto", sans-serif;
  --main-text-colour: #171717;
}

body {
  background-color: var(--main-background-colour);
}

.app {
  display: flex;
  justify-content: center;
}
