@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-background-colour: #e3e3e3;
  --main-font: "Roboto", sans-serif;
  --main-text-colour: #171717;
  --pink-accent: #987d7c;
  --brown-accent: #776d5a;
  --purple-accent: #a09cb0;
  --blue-accent: #a3b9c9;
  --blue-accent-dark: #425d70;
  --light-blue-accent: #abdae1;
  --green-accent: #9eb09c;
  --green-accent-dark: #51634f;
  --cancel-accent: #633030;
}

body {
  background-color: var(--main-background-colour);
}

.app {
  display: flex;
  justify-content: center;
}
